
<html>

<head>
{% load static %}
  <link rel="stylesheet" href='{% static "node_modules/bootstrap/dist/css/bootstrap.css" %}'>
  <link rel="stylesheet" href='{% static "node_modules/font-awesome/css/font-awesome.css" %}'>
  <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>

<body ng-app="mainApp">

  <div class="container" ng-controller="mainController">

    <h1>Angular testwork <small>Caesar's cipher</small></h1>
    <hr />

    <div class="row vertical-row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <form name="textForm" novalidate>
          <textarea class="form-control" placeholder="Type your text here" name="initText" ng-model="initText" ng-pattern=/^[a-zA-Z]*$/ ng-required="true">{[{ initText }]}</textarea>
        </form>
      </div>

      <!-- <div class="vertical-column"> -->
        <div class="col-md-2 col-sm-12 col-xs-12 vertical-column">
          <div>
            <input class="form-control shift" type="number" min="1" ng-model="shift" />
          </div>
          <div class="arrows">
            <a ng-click="submit(1, textForm)" data-tooltip data-toggle="tooltip" data-placement="left" title="Decrypt">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a ng-click="submit(2, textForm)" data-tooltip data-toggle="tooltip" data-placement="right" title="Encrypt">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      <!-- </div> -->

      <div class="col-md-5 col-sm-12 col-xs-12">
        <textarea class="form-control" placeholder="Result will be here" ng-model="resultText"></textarea>
      </div>
    </div>
    <div>
      <span class="text-danger" ng-show="textForm.initText.$error.pattern && !textForm.initText.$pristine">Text must contain latin letter only</span>
      <span class="text-danger" ng-show="textForm.initText.$error.required && isFormSubmited">Text is required</span>
    </div>

    <div class="row">
      <div class="chart">
        <canvas id="bar" class="chart chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-options="chart.options">
        </canvas>
      </div>
    </div>

    <div class="row">
      <div class="alert alert-info" role="alert" ng-show="isTextWarning">
        <h4>Warning!</h4>
        <p>Text may be encripted. </p>
      </div>
    </div>

    <script src='{% static "node_modules/angular/angular.min.js" %}'></script>
    <script src='{% static "node_modules/jquery/dist/jquery.min.js" %}'></script>
    <script src='{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.0.3/angular-chart.js"></script>

    <script src='{% static "node_modules/angular-ui-router/release/angular-ui-router.min.js" %}'></script>
    <script src='{% static "js/app.js" %}'></script>
    <script src='{% static "js/controller.js" %}'></script>
    <script src='{% static "js/directive.js" %}'></script>

</body>

</html>
